<div class="container-fluid">
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <span class="navbar-brand h1">Bienvenid@ {{paciente.user}}</span>
      <div class="navbar-nav">
        <a class="nav-link active" [routerLink]="" aria-current="page">Inicio</a>
        <a class="nav-link" [routerLink]="" (click)="crearCita()">Crear cita</a>
        <a class="nav-link" [routerLink]="" (click)="verCitas()">Mis citas</a>
        <a class="nav-link" [routerLink]="" (click)="verMedicos()">Mis médicos</a>
        <a class="nav-link" [routerLink]="" (click)="newMedico()">Añadir médico</a>
      </div>
    </div>
    <a class="nav-link float-right" [routerLink]="" (click)="logout()">Cerrar sesión</a>
  </nav>

  <div class="container-sm text-center mt-5">
    <h2>Bienvenido al sistema de citas médicas para pacientes</h2>
    <p>En la barra de navegación superior podra seleccionar uno de los siguientes servicios:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Crear una nueva cita</li>
      <li class="list-group-item">Consultar sus citas actuales</li>
      <li class="list-group-item">Consultar sus médicos</li>
      <li class="list-group-item">Cerrar la sesión</li>
    </ul>
  </div>

</div>
