<div class="container-fluid">
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <span class="navbar-brand h1">Bienvenid@ {{paciente.user}}</span>
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="" (click)="goHome()">Inicio</a>
        <a class="nav-link" [routerLink]="" (click)="crearCita()">Crear cita</a>
        <a class="nav-link active" [routerLink]="" aria-current="page">Mis citas</a>
        <a class="nav-link" [routerLink]="" (click)="verMedicos()">Mis médicos</a>
        <a class="nav-link" [routerLink]="" (click)="newMedico()">Añadir médico</a>
      </div>
    </div>
    <a class="nav-link float-right" [routerLink]="" (click)="logout()">Cerrar sesión</a>
  </nav>
</div>

<div class="container-sm mt-5">

  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">Paciente Id</th>
        <th scope="col">Medico Id</th>
        <th scope="col">Motivo cita</th>
        <th scope="col">Fecha</th>
        <th scope="col">Diagnostico</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td>{{cita.paciente}}</td>
        <td>{{cita.medico}}</td>
        <td>{{cita.motivoCita}}</td>
        <td>{{cita.fechaHora}}</td>
        <td>{{cita.diagnostico}}</td>
      </tr>
    </tbody>
  </table>

</div>
