<div class="mb-4">
  <div *ngIf="!logged" class="container mt-5 mb-5" style="height: 45rem;">

    <div *ngIf="!chosenRol" class="card mx-auto align-middle" style="width: 30rem;">
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="chooseRol(true)">Soy paciente</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="chooseRol(false)">Soy médico</button>
      </div>
    </div>

    <div *ngIf="chosenRol" class="card mx-auto align-middle" style="width: 30rem;">
      <div class="card-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="goLogin()">Iniciar sesión</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="goRegister()">Registrarse</button>
      </div>
    </div>


  </div>
  <button *ngIf="logged">Sesion iniciada</button>
</div>
